In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as scp
import plotly.express as px
import matplotlib.pyplot as plt
from numpy.polynomial.polynomial import polyfit

In [21]:
df = pd.read_csv(
    '../data/train_data.csv',
    low_memory=False
)
display(df)

,brand,che_pc_usd,che_perc_gdp,cluster_nl,corporation,country,launch_date,date,drug_id,ind_launch_date,indication,insurance_perc_che,population,prev_perc,price_month,price_unit,public_perc_che,therapeutic_area,target
0,BRAND_354E,1.209114,1.665879,BRAND_354E_COUNTRY_88A3,CORP_D524,COUNTRY_88A3,2014-06-01,2014-06-01,DRUG_ID_8795,-1,['IND_C3B6'],1.893333,1.008039,0.028367,1.006444,1.013784,1.835821,THER_AREA_980E,1.000784
1,BRAND_626D,-1.000000,-1.000000,BRAND_626D_COUNTRY_8B47,CORP_01C7,COUNTRY_8B47,2014-06-01,2014-06-01,DRUG_ID_E66E,2014-09-01 00:00:00,"['IND_1590', 'IND_ECAC']",-1.000000,1.023562,0.000047,-1.000000,1.626677,-1.000000,THER_AREA_96D7,1.000000
2,BRAND_45D9,1.209114,1.665879,BRAND_45D9_COUNTRY_88A3,CORP_39F7,COUNTRY_88A3,2014-06-01,2014-06-01,DRUG_ID_F272,-1,['IND_B2EF'],1.893333,1.008039,0.001502,-1.000000,3.144874,1.835821,THER_AREA_96D7,1.002258
3,BRAND_D724,1.851280,2.051770,BRAND_D724_COUNTRY_445D,CORP_711A,COUNTRY_445D,2014-06-01,2014-06-01,DRUG_ID_1D4E,-1,['IND_BAFB'],1.000000,1.253186,0.001304,-1.000000,1.213446,1.805970,THER_AREA_6CEE,1.068761
4,BRAND_4887,1.791199,2.059130,BRAND_4887_COUNTRY_D8B0,CORP_443D,COUNTRY_D8B0,2014-06-01,2014-06-01,DRUG_ID_AA88,-1,['IND_3F31'],2.013333,1.639352,0.054467,1.018589,1.008708,1.880597,THER_AREA_6CEE,1.036312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118912,BRAND_2058,2.074438,2.058055,BRAND_2058_COUNTRY_C8F4,CORP_3C9A,COUNTRY_C8F4,2020-11-01,2022-12-01,DRUG_ID_74A6,-1,['IND_A496'],-1.000000,1.049808,0.095233,1.054007,1.100336,2.029851,THER_AREA_6CEE,1.203657
118913,BRAND_4888,1.756234,1.819485,BRAND_4888_COUNTRY_6F78,CORP_A713,COUNTRY_6F78,2019-07-01,2022-12-01,DRUG_ID_52A5,-1,['IND_617C'],1.173333,1.008985,0.033939,1.008317,1.029630,1.955224,THER_AREA_980E,1.109272
118914,BRAND_0056,1.127497,1.491552,BRAND_0056_COUNTRY_0C7D,CORP_01C7,COUNTRY_0C7D,2018-09-01,2022-12-01,DRUG_ID_D637,-1,['IND_FC21'],1.826667,1.121505,0.012526,1.017259,1.018310,1.926795,THER_AREA_644A,1.343341
118915,BRAND_6200,1.874532,2.020277,BRAND_6200_COUNTRY_89F9,CORP_39F7,COUNTRY_89F9,2020-09-01,2022-12-01,DRUG_ID_B0E9,2020-11-01 00:00:00,['IND_B2EF'],-1.000000,1.520144,0.001334,1.960978,2.490911,1.985847,THER_AREA_96D7,1.266831
118916,BRAND_C21A,1.127497,1.491552,BRAND_C21A_COUNTRY_0C7D,CORP_C3C7,COUNTRY_0C7D,2021-05-01,2022-12-01,DRUG_ID_E2D9,-1,"['IND_120F', 'IND_8E8D']",1.826667,1.121505,0.041152,-1.000000,1.002689,1.926795,THER_AREA_CD59,1.001763

In [22]:
df.head(5)

,brand,che_pc_usd,che_perc_gdp,cluster_nl,corporation,country,launch_date,date,drug_id,ind_launch_date,indication,insurance_perc_che,population,prev_perc,price_month,price_unit,public_perc_che,therapeutic_area,target
0,BRAND_354E,1.209114,1.665879,BRAND_354E_COUNTRY_88A3,CORP_D524,COUNTRY_88A3,2014-06-01,2014-06-01,DRUG_ID_8795,-1,['IND_C3B6'],1.893333,1.008039,0.028367,1.006444,1.013784,1.835821,THER_AREA_980E,1.000784
1,BRAND_626D,-1.000000,-1.000000,BRAND_626D_COUNTRY_8B47,CORP_01C7,COUNTRY_8B47,2014-06-01,2014-06-01,DRUG_ID_E66E,2014-09-01 00:00:00,"['IND_1590', 'IND_ECAC']",-1.000000,1.023562,0.000047,-1.000000,1.626677,-1.000000,THER_AREA_96D7,1.000000
2,BRAND_45D9,1.209114,1.665879,BRAND_45D9_COUNTRY_88A3,CORP_39F7,COUNTRY_88A3,2014-06-01,2014-06-01,DRUG_ID_F272,-1,['IND_B2EF'],1.893333,1.008039,0.001502,-1.000000,3.144874,1.835821,THER_AREA_96D7,1.002258
3,BRAND_D724,1.851280,2.051770,BRAND_D724_COUNTRY_445D,CORP_711A,COUNTRY_445D,2014-06-01,2014-06-01,DRUG_ID_1D4E,-1,['IND_BAFB'],1.000000,1.253186,0.001304,-1.000000,1.213446,1.805970,THER_AREA_6CEE,1.068761
4,BRAND_4887,1.791199,2.059130,BRAND_4887_COUNTRY_D8B0,CORP_443D,COUNTRY_D8B0,2014-06-01,2014-06-01,DRUG_ID_AA88,-1,['IND_3F31'],2.013333,1.639352,0.054467,1.018589,1.008708,1.880597,THER_AREA_6CEE,1.036312

In [28]:
total_rows, total_attributes = df.shape
print('Jumlah data:', total_rows)
print("Jumlah atribut:", total_attributes)

df.head()

Jumlah data: 118917
Jumlah atribut: 19

,brand,che_pc_usd,che_perc_gdp,cluster_nl,corporation,country,launch_date,date,drug_id,ind_launch_date,indication,insurance_perc_che,population,prev_perc,price_month,price_unit,public_perc_che,therapeutic_area,target
0,BRAND_354E,1.209114,1.665879,BRAND_354E_COUNTRY_88A3,CORP_D524,COUNTRY_88A3,2014-06-01,2014-06-01,DRUG_ID_8795,-1,['IND_C3B6'],1.893333,1.008039,0.028367,1.006444,1.013784,1.835821,THER_AREA_980E,1.000784
1,BRAND_626D,-1.000000,-1.000000,BRAND_626D_COUNTRY_8B47,CORP_01C7,COUNTRY_8B47,2014-06-01,2014-06-01,DRUG_ID_E66E,2014-09-01 00:00:00,"['IND_1590', 'IND_ECAC']",-1.000000,1.023562,0.000047,-1.000000,1.626677,-1.000000,THER_AREA_96D7,1.000000
2,BRAND_45D9,1.209114,1.665879,BRAND_45D9_COUNTRY_88A3,CORP_39F7,COUNTRY_88A3,2014-06-01,2014-06-01,DRUG_ID_F272,-1,['IND_B2EF'],1.893333,1.008039,0.001502,-1.000000,3.144874,1.835821,THER_AREA_96D7,1.002258
3,BRAND_D724,1.851280,2.051770,BRAND_D724_COUNTRY_445D,CORP_711A,COUNTRY_445D,2014-06-01,2014-06-01,DRUG_ID_1D4E,-1,['IND_BAFB'],1.000000,1.253186,0.001304,-1.000000,1.213446,1.805970,THER_AREA_6CEE,1.068761
4,BRAND_4887,1.791199,2.059130,BRAND_4887_COUNTRY_D8B0,CORP_443D,COUNTRY_D8B0,2014-06-01,2014-06-01,DRUG_ID_AA88,-1,['IND_3F31'],2.013333,1.639352,0.054467,1.018589,1.008708,1.880597,THER_AREA_6CEE,1.036312

In [23]:
# Type & Information
df.info()

brand                  object
che_pc_usd            float64
che_perc_gdp          float64
cluster_nl             object
corporation            object
country                object
launch_date            object
date                   object
drug_id                object
ind_launch_date        object
indication             object
insurance_perc_che    float64
population            float64
prev_perc             float64
price_month           float64
price_unit            float64
public_perc_che       float64
therapeutic_area       object
target                float64
dtype: object

In [24]:
# Show Only Numerical statistic
df.describe()

,che_pc_usd,che_perc_gdp,insurance_perc_che,population,prev_perc,price_month,price_unit,public_perc_che,target
count,118917.000000,118917.000000,118917.000000,118917.000000,1.189170e+05,118917.000000,118917.000000,118917.000000,118917.000000
mean,1.529389,1.607100,1.008999,1.483680,5.768206e-02,0.912442,1.463305,1.762006,1.420171
std,0.439094,0.537994,1.044154,1.336542,9.163269e-02,1.414511,5.464170,0.303401,1.183330
min,-1.000000,-1.000000,-1.000000,1.000000,5.954162e-07,-1.000000,-1.000000,-1.000000,1.000000
25%,1.179931,1.464849,1.000000,1.038227,2.463952e-03,1.002854,1.011818,1.671642,1.022251
50%,1.472378,1.731474,1.346667,1.238870,1.879598e-02,1.015832,1.085415,1.835821,1.089062
75%,1.816479,1.894139,1.760000,1.506685,8.556676e-02,1.316595,1.420445,1.925373,1.309227
max,2.656913,2.311103,2.040000,12.767484,6.668035e-01,39.343041,535.926517,2.044776,28.576068

In [25]:
print("Non null\n", df.count())

Non null
 brand                 118917
che_pc_usd            118917
che_perc_gdp          118917
cluster_nl            118917
corporation           118917
country               118917
launch_date           118917
date                  118917
drug_id               118917
ind_launch_date       118917
indication            118917
insurance_perc_che    118917
population            118917
prev_perc             118917
price_month           118917
price_unit            118917
public_perc_che       118917
therapeutic_area      118917
target                118917
dtype: int64

In [26]:
# Missing Values

print("Count missing values: \n", df.isnull().sum())

Count missing values:
 brand                 0
che_pc_usd            0
che_perc_gdp          0
cluster_nl            0
corporation           0
country               0
launch_date           0
date                  0
drug_id               0
ind_launch_date       0
indication            0
insurance_perc_che    0
population            0
prev_perc             0
price_month           0
price_unit            0
public_perc_che       0
therapeutic_area      0
target                0
dtype: int64

In [30]:
# Description for only object
df.describe(include=['object'])

,brand,cluster_nl,corporation,country,launch_date,date,drug_id,ind_launch_date,indication,therapeutic_area
count,118917,118917,118917,118917,118917,118917,118917,118917,118917,118917
unique,591,2716,136,49,103,103,257,123,257,12
top,BRAND_0056,BRAND_354E_COUNTRY_88A3,CORP_01C7,COUNTRY_907E,2016-03-01,2020-08-01,DRUG_ID_3A6F,-1,['IND_3A0D'],THER_AREA_96D7
freq,2366,60,19445,5522,2940,1794,3035,87797,18551,45858

In [32]:
# Description for only float type
df.describe(include=['float64'])

,che_pc_usd,che_perc_gdp,insurance_perc_che,population,prev_perc,price_month,price_unit,public_perc_che,target
count,118917.000000,118917.000000,118917.000000,118917.000000,1.189170e+05,118917.000000,118917.000000,118917.000000,118917.000000
mean,1.529389,1.607100,1.008999,1.483680,5.768206e-02,0.912442,1.463305,1.762006,1.420171
std,0.439094,0.537994,1.044154,1.336542,9.163269e-02,1.414511,5.464170,0.303401,1.183330
min,-1.000000,-1.000000,-1.000000,1.000000,5.954162e-07,-1.000000,-1.000000,-1.000000,1.000000
25%,1.179931,1.464849,1.000000,1.038227,2.463952e-03,1.002854,1.011818,1.671642,1.022251
50%,1.472378,1.731474,1.346667,1.238870,1.879598e-02,1.015832,1.085415,1.835821,1.089062
75%,1.816479,1.894139,1.760000,1.506685,8.556676e-02,1.316595,1.420445,1.925373,1.309227
max,2.656913,2.311103,2.040000,12.767484,6.668035e-01,39.343041,535.926517,2.044776,28.576068

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118917 entries, 0 to 118916
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   brand               118917 non-null  object
 1   che_pc_usd          118917 non-null  float64
 2   che_perc_gdp        118917 non-null  float64
 3   cluster_nl          118917 non-null  object
 4   corporation         118917 non-null  object
 5   country             118917 non-null  object
 6   launch_date         118917 non-null  object
 7   date                118917 non-null  object
 8   drug_id             118917 non-null  object
 9   ind_launch_date     118917 non-null  object
 10  indication          118917 non-null  object
 11  insurance_perc_che  118917 non-null  float64
 12  population          118917 non-null  float64
 13  prev_perc           118917 non-null  float64
 14  price_month         118917 non-null  float64
 15  price_unit          118917 non-null  float64
 16  public_perc_che     118917 non-null  float64
 17  therapeutic_area    118917 non-null  object
 18  target              118917 non-null  float64
dtypes: float64(9), object(10)
memory usage: 17.2+ MB